<div>
  <a routerLink="/history">History</a>

  <p>
    Please input search text, and then click the search button
  </p>

  <div>
    <input [(ngModel)]="searchText" />
    <button (click)="search()">Search</button>
  </div>

  <div *ngIf="wikiSearchResults">
    <h3>
      Result from Wikipedia: {{ wikiSearchResults.length }} results
    </h3>
    <div *ngFor="let wikiSearchResult of wikiSearchResults">
      {{ wikiSearchResult }}
    </div>
  </div>

  <div *ngIf="giphySearchResults">
    <h3>
      Result from Giphy: {{ giphySearchResults.length }} results
    </h3>
    
    <div *ngFor="let imageUrl of giphySearchResults">
      <img  src="{{ imageUrl }}">
      {{ imageUrl }}
    </div>
  </div>

</div>
